<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<style>
    .main-flex {
  display: inline-flex;
  flex-wrap: wrap;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.flex-container>div {
  height: 400px;
  width: 250px;
  border: 1px solid black;
}

.flex-container:nth-child(2)>span {
  align-self: flex-end;
}
</style>
<div class="main-flex">
  <div class="flex-container">
    <span>header</span>
    <div></div>
  </div>
  <div class="flex-container">
    <span>button</span>
    <div></div>
  </div>
    <div class="flex-container">
    <span>button</span>
    <div></div>
  </div>
    <div class="flex-container">
    <span>button</span>
    <div></div>
  </div>
</div>


 <img class="card-img-top" width="300" height="300" style="overflow: hidden" src="{{ d.docfile.url }}">
</body>
</html>